{{#> main}}
  <h1 style="color: {{theme.colors.text}}; margin: 0 0 24px 0; font-size: 24px; font-weight: 700;">
    {{t "emails.invoice.title"}}
  </h1>
  
  <p style="color: {{theme.colors.text}}; font-size: 16px; line-height: 1.6; margin: 0 0 24px 0;">
    {{t "common.greeting" name=name}}
  </p>
  
  <p style="color: {{theme.colors.text}}; font-size: 16px; line-height: 1.6; margin: 0 0 32px 0;">
    {{t "emails.invoice.content" amount=formattedAmount dueDate=formattedDate}}
  </p>
  
  {{> button url=(concat frontendUrl "/invoices/" invoiceNumber) label=(t "emails.invoice.cta") }}
  
{{/main}}
